* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif, Arial;
  font-size: 17px;
}

h1, h2 {
  color: rgb(116, 186, 114);
}

h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

h2 {
  font-size: 23px;
  margin-bottom: 15px;
}

.main-text {
  text-align: justfy;
}

.author-text {
  font-size: 25;
}
