body {
  font-family: sans-serif, Arial;
  font-size: 17px;
}

h1, h2 {
  color: rgb(116, 186, 114);
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 23px;
}

.main-text {
  text-align: justfy;
}

.author-text {
  font-size: 25;
}
