* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix: after {
  content = '';
  display = table;
  clear = both;
}

body {
  font-family: sans-serif, Arial;
  font-size: 17px;
}

h1, h2 {
  color: rgb(116, 186, 114);
}

h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

h2 {
  font-size: 23px;
  margin-bottom: 15px;
}

.container {
  width: 900px;
  margin: 20px auto 0 auto;
}

.main-text {
  text-align: justfy;
}

.author-text {
  font-size: 25;
}

.blog-post {
  width: 75%;
  float: left;
  padding-right: 30px;
}

.other-post {
  width: 25%;
  float: left;
}

.author-post {
  border-top: 1px solid #818181;
  padding-top: 20px;
}
